/* @font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
} */

body{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

p{
    font-weight: 400;
}

.italic{
    font-style: italic;
}

em{
    font-style: normal;
}

.small-caps{
    font-variant: small-caps;
}

.font{
    font: italic 600 1.5rem/1.5 'Montserrat', sans-serif;
}