*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    max-width: 800px;
    margin-inline: auto;
    position: relative;
}

.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center
}


header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #e0e0e0;
}

.border{
    border: 1px solid #d0d0d0
}

.sidebar{
    width: 20%;
    background: #000; 
    border-radius: 10px 0 0 0;
}

.rounded{
    border-radius: 7px;
}
.main{
    margin-top: 40px;
    width: 80%;
    padding-inline: 30px;
    padding-bottom: 40px;
}

.hero{
    height: 100px;
    background: #f0f0f0;
    margin-bottom: 40px;
}
.section-2 {
    gap: 2rem;
    margin-bottom: 40px;
}
.section-2 .left-panel,.section-2 .border-wrapper{
    width: 40%;
    flex-grow: 1;
    overflow: hidden;
}

.section-2 .panel-top, .section-2 .bottom-panel{
    gap: 4px;
    margin-bottom: 40px;
    padding: .5rem;
}
.section-2 .left-panel .box{
    width: 26%;
    height: 80px;
    flex-grow: 1;
}

.bg-gray{
    background-color: #f0f0f0;
}
.bg-white{
    background-color: #fff;
}
.section-2 .bottom-panel{
    margin-bottom: 0;
    max-width: 85%;
}
.section-2 .bottom-panel .box:last-child{
    height: 60px;
    width: 20%;
}

.border-wrapper .box{
    flex-grow: 1
}

.section-3{
    padding: .5rem;
    gap: .8rem
}
.section-3 .box{
    width: 18%;
    aspect-ratio: 4/5;
}
.section-3 .box:last-child{
    width: 9%;
    aspect-ratio: 3/4;
}

.section-3 .border-wrapper .box{
    width: 100%;
}
.section-3 .border-wrapper .box:first-child{
    height: 55%
}
.section-3 .border-wrapper .box:last-child{
    height: 45%
}

.border-wrapper{
    overflow: hidden;
}
.section-3 .box:first-child{
    aspect-ratio: 3/2;
    align-self: flex-start;
}
