@font-face {
    font-family: 'Gilroy-Reg';
    src: url('../fonts/Gilroy-Regular.ttf');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf');
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.ttf');
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'Gilroy-xBold';
    src: url('../fonts/Gilroy-ExtraBold.ttf');
}


:root{

    /* Theme Colors */
    --primary-color: #003459;
    --primary-800: #00528C;
    --primary-600: #0078CD;
    --primary-dark: #002A48;
    --primary-accent-color: #fff;

    --secondary-color: #F7DBA7;
    --secondary-800: #F1D092;
    --secondary-600: #FCEED5;
    --secondary-dark: #EEC77E;
    --secondary-accent-color: #242B33;


    --nutral-100: #00171F;
    --nutral-80: #242B33;
    --nutral-60: #667479;
    --nutral-40: #99A2A5;
    --nutral-20: #CCD1D2;
    --nutral-10: #EBEEEF;
    --nutral-0: #fdfdfd;
    

    /* Element Color */
    --body-color: var(--nutral-80);
    --body-bg: var(--nutral-0);
    --heading-color: var(--primary-dark, #002A48);
    --nav-link-color: var(--primary-dark, #002A48);

    
    /* Font family */
    --font-family-medium: 'Gilroy-Medium', sans-serif;
    --font-family-base: 'Gilroy-Reg', sans-serif;
    --font-family-heading: 'Gilroy-Bold', sans-serif;
    --font-family-xheading: 'Gilroy-xBold', sans-serif;

    --display-1: 60px;
    --display-2: 52px;

    --h1-font: 46px;
    --h2-font: 36px;
    --h3-font: 28px;
    --h4-font: 24px;

    --heading-1-bold:  700 var(--h1-font)/1.35 'Gilroy-Bold', sans-serif;
    --heading-1-med:  500 var(--h1-font)/1.35 'Gilroy-Medium', sans-serif;
    --heading-1-reg:  400 var(--h1-font)/1.35 'Gilroy-Reg', sans-serif;

    --heading-2-bold:  700 var(--h2-font)/1.4 'Gilroy-Bold', sans-serif;
    --heading-2-med:  500 var(--h2-font)/1.4 'Gilroy-Medium', sans-serif;
    --heading-2-reg:  400 var(--h2-font)/1.4 'Gilroy-Reg', sans-serif;
    
    --heading-3-bold:  700 var(--h3-font)/1.4 'Gilroy-Bold', sans-serif;
    --heading-3-med:  500 var(--h3-font)/1.4 'Gilroy-Medium', sans-serif;
    --heading-3-reg:  400 var(--h3-font)/1.4 'Gilroy-Reg', sans-serif;
    
    --heading-4-bold:  700 var(--h4-font)/1.4 'Gilroy-Bold', sans-serif;
    --heading-4-med:  500 var(--h4-font)/1.4 'Gilroy-Medium', sans-serif;
    --heading-4-reg:  400 var(--h4-font)/1.4 'Gilroy-Reg', sans-serif;


    --fs-20: 20px;
    --fs-16: 16px;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-10: 10px;
    --fs-8: 8px;

    /* Buttons */
    --btn-font-size-base: 14px;
    --btn-font-size-lg: 16px;
    --btn-font-size-sm: 12px;

    --btn-padding-block: .83em;
    --btn-padding-inline: 2.25em;

    --btn-border-radius: 2.25em;

    /* Shadow */
    --shadow: 0 4px 28px rgba(0,0,0, .08);
    --shadow2: 0 4px 28px -2px rgba(0,0,0, .08);
}


@media (max-width: 1399.98px){
    :root{
        --btn-padding-block: .83em;
        --btn-padding-inline: 1.5em;
    }
}

body{
    font-size: var(--fs-14);
    color: var(--body-color);
    background-color: var(--body-bg);
    scroll-behavior: smooth;
    font-family: var(--font-family-base);
    line-height: 1.5;
}

/* Reboot */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    transition: .4s all;
}

button{
    background-color: transparent;
}

ul, ol{
    list-style: none;
    padding-left: 0
}
li:not(:last-child){
    margin-bottom: 1rem;
}
p:not(:last-child){
    margin-bottom: .83rem;
}





/* ================= Typography ===================== */
.display-1{
    font: 900 var(--display-1)/1 var(--font-family-xheading);
}
.display-2{
    font: 900 var(--display-2)/1 var(--font-family-xheading);
}

h1, .h1{
    font: var(--heading-1-bold);
    color: var(--heading-color);
}

h2, .h2{
    font: var(--heading-2-bold);
    color: var(--heading-color);
}

h3, .h3{
    font: var(--heading-3-bold);
    color: var(--heading-color);
}

h4, .h4{
    font: var(--heading-4-bold);
    color: var(--heading-color);
}

h5, h6{    
    color: var(--heading-color);
}

.fs-20{
    font-size: var(--fs-20);
}
.fs-16{
    font-size: var(--fs-16);
}
.fs-14{
    font-size: var(--fs-14);
}
.fs-12{
    font-size: var(--fs-12);
}
.fs-10{
    font-size: var(--fs-10);
}
.fs-8{
    font-size: var(--fs-8);
}

/* ========================= Buttons ====================== */
.btn{
    --btn-font: var(--btn-font-size-base);
    font-family: var(--font-family-medium);
    font-size: var(--btn-font);
    display: inline-flex;
    align-items: center;
    line-height: 1;
    border: 1px solid var(--btn-border-color, var(--primary-color));
    background: var(--btn-bg, var(--primary-color));
    color: var(--btn-color, var(--primary-accent-color));
    padding: var(--btn-padding-block) var(--btn-padding-inline);
    border-radius: var(--btn-border-radius, .25em);
}

.btn-primary-outline{
    --btn-border-color: var(--primary-dark);
    --btn-color: var(--primary-dark);
    --btn-bg: transparent;
}
.btn-primary-outline:hover{
    --btn-color: var(--primary-accent-color);
    --btn-bg: var(--primary-dark);
}

.btn-white{
    --btn-border-color: #fff;
    --btn-color: var(--body-color);
    --btn-bg: #fff;
}

.btn-lg{
   --btn-font: var(--btn-font-size-lg) 
}
.btn-sm{
   --btn-font: var(--btn-font-size-sm) 
}

/* ========================= Backgrounds ====================== */

.bg-primary{
    background-color: var(--primary-color);
    color: var(--nutral-0);
}
.bg-secondary{
    background-color: var(--primary-color);
}


/* ========================= Container ====================== */
.container{
    width: 100%;
    padding-inline: 1rem;
    max-width: 1180px;
    margin-inline: auto;
}

@media (max-width: 1399.98px){
    .container{
        max-width: 1120px;
    }
}
@media (max-width: 1199.98px){
    .container{
        max-width: 940px;
    }
}
@media (max-width: 991.98px){
    .container{
        max-width: 720px;
    }
}
@media (max-width: 767.98px){
    .container{
        max-width: 540px;
    }
}
@media (max-width: 574.98px){
    .container{
        max-width: 100%;
    }
}



/* ========================= Section Headings ====================== */
.pt-60{
    padding-top: 60px;
}
.heading-wrapper{
    margin-bottom: 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
@media (max-width: 768px){
    .heading-wrapper .btn{
        display: none;
    }
}

/* ========================= Utilities ====================== */
/* --------------- display ---------------- */

.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between
}
.justify-center{
    justify-content: center
}
.align-center{
    align-items: center
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-grow-1{
    flex-grow: 1;
}


/* ========================= Images ====================== */
img{
    max-width: 100%;
    display: inline-block;
    line-height: 1;
    margin-bottom: 0;
}

.text-center{
    text-align: center;
}


/* Header Styling */
header{ 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-block: 1.835rem;
}
nav{
    gap: 30px;
}
nav .btn{
    white-space: nowrap;
}
.nav-left{
    gap: 2rem
}
.menubar li{
    margin-bottom: 0;
}

.menu-link{
    color: var(--nav-link-color);
    font-size: var(--fs-16);
    display: block;
    padding: .75em 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-right{
    gap: .89rem;
}

nav form{
    gap: 1rem;
    border: 1px solid transparent;
}

nav form:has(input:focus){
    border-color: var(--primary-color);
}
nav form input{
    border: none;
}
nav form input:focus{
    outline: none;
    border-color: white;
}


.dropdown{
    position: relative;
}
.dropdown .dropdown-toggle{
    border: none;
    gap: .175rem;
}
.dropdown .dropdown-toggle .icon{
    aspect-ratio: 1/1;
    display: grid;
    width: 12px;
    place-items: center;
    
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    background: #fff;
    box-shadow: var(--shadow);
    padding: .75rem 1rem;
    display: none;
}
.dropdown-menu li{
    display: flex;
    align-items: center;
    gap: .175rem;
}
.dropdown-menu li:not(:last-child){
    margin-bottom: .5rem;
}

@media (max-width: 1399.98px){
    .menu-link{
        padding-inline: 1rem
    }
    .nav-right{
        gap: .5rem;
    }
}
@media (max-width: 1199.98px){
    .menu-link{
        padding-inline: .75rem
    }
    .menu-link:last-child{
        padding-right: 0;
    }
    nav{
        gap: 20x;
    }

    .menu-link{
        font-size: var(--fs-14);
    }
}
@media (max-width: 991.98px){
    nav{
        position: relative;
    }
    .nav-right{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        background: var(--secondary-600);
        box-shadow: var(--shadow);
        padding: 1rem;
        border-radius: var(--fs-14) ;
        display: none;
    }
    .menubar{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .dropdown{
        align-self: center;
    }
    header{ 
        padding-block: 20px;
    }
}


.decor-rect{
    width: min(40vw, 635px);
    display: block;
    min-width: 500px;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: min(7vw, 99px);
    z-index: 0;
    background-color: var(--secondary-color);
}

/* ========================== Hero Banner ========================= */

.home-top-banner{
    background:linear-gradient(161deg, var(--secondary-600) 60% , var(--secondary-800) 90% 100%);
    padding-top: 84px;
    max-width: 100%;
    overflow: hidden;
}
.home-top-banner :where(.right-panel, .container){
    position: relative;

}

.home-top-banner .right-panel{
    isolation: isolate;
}
.home-top-banner .container >.decor-rect{
   rotate: 25deg;
    left: -29%;
    top: -110%;
}
.home-top-banner .right-panel .decor-rect{
   z-index: -1;
}
.home-top-banner .right-panel .decor-rect:first-child{
    rotate: 12deg;
    background: var(--primary-color);
    top: 34%;
    left: -30px;
    
}
.home-top-banner .right-panel .decor-rect:nth-child(2) {
    rotate: 25deg;
    top: 29%;
    left: 2%;
}



/* .home-top-banner::before, .home-top-banner .right-panel::before */


.home-top-banner .left-panel{
    width: 40%;
}
.home-top-banner .left-panel h1{
    margin-bottom: 1.5rem;
}
.home-top-banner .left-panel p{
    margin-bottom: 2.13rem;
}
.home-top-banner .left-panel .btn-group {
   gap: 1.25rem;
}


@media (max-width: 1399.98px){
    .home-top-banner .left-panel {
        width: 43%;
    }
    .home-top-banner .right-panel .decor-rect:first-child{
        rotate: 9deg;
        background: var(--primary-color);
        top: 37%;
        left: -22px;
    }

    .home-top-banner .right-panel .decor-rect:nth-child(2) {
       rotate: 20deg;
        top: 33%;
        left: 0%;
    }
}
@media (max-width: 1199.98px){
    
    .home-top-banner .wrapper{
        flex-direction: column;
    }
    .home-top-banner .left-panel{width: 100%;}
    .home-top-banner .right-panel .decor-rect:first-child{
        rotate: 9deg;
        background: var(--primary-color);
        top: 37%;
        left: -22px;
    }

    .home-top-banner .right-panel .decor-rect:nth-child(2) {
        rotate: 20deg;
        top: 31%;
        left: 1%;
    }
}



/* Pets */
.pets .wrapper{
    --cols: 4;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 20px;
}

.pets .wrapper .card{
    padding: .5rem;
    background: #fff;
    border-radius: var(--fs-12);
    box-shadow: var(--shadow);
}
.pets .wrapper .card-details{
    padding: .75rem .5rem
}
.pets .wrapper .card img{
    width: 100%;
}
.pets h3{
    font-size: var(--fs-16);
    color: var(--nutral-100);
}

.pets ul{
    display: flex;
    --gap: 1.5rem;
    gap: var(--gap);
    margin-block: .25rem;
}
.pets ul li{
    font-family: var(--font-family-medium);
    color: var(--nutral-60);
    margin-bottom: 0;
    position: relative;
}
.pets ul li strong{
    font-family: var(--font-family-medium);
    font-weight: 500;
}
.pets ul li:not(:last-child)::after{
    content: '';
    position: absolute;
    left: calc(100% + (var(--gap) / 2));
    top: 50%;
    width: .25rem;
    aspect-ratio: 1/1;
    background: var(--nutral-60);
    border-radius: 50%;
    translate: -50% -50%
}

.pets .price{
    font-family: var(--font-family-medium);
    color: var(--nutral-100);
}

@media (max-width: 991.98px){
    .pets .wrapper{
        --cols: 3;
    }
}
@media (max-width: 767.98px){
    .pets .wrapper{
        --cols: 2;
    }
}
@media (max-width: 480px){
    .pets .wrapper{
        --cols: 1;
    }
}


/*========================= Footer ========================== */

footer{
    background:linear-gradient(161deg, var(--secondary-600) 60% , var(--secondary-800) 90% 100%);
    padding-block: 80px 40px;
    border-radius: 40px 40px 0 0;
}

footer .newsletter{
    padding: 2rem;
    border-radius: var(--fs-16);
    gap: 1.25rem
}
footer .newsletter .text-content{
    width: 40%;
}
footer .newsletter h2{
    margin-bottom: 0;
    color: var(--nutral-0);
}
footer .newsletter form{
    padding: .75rem;
    background: #fff;
    border-radius: var(--fs-14);
    gap: .75rem;
}
footer .newsletter input{padding: .89rem 1.75rem; border-radius: 8px; border: 1px solid var(--nutral-40); font-size: var(--fs-14);}

footer nav{
    padding-block: 2.5rem;
    border-bottom: 1px solid var(--nutral-20)
}
footer nav li:not(:last-child){margin-bottom: 0;}
footer nav ul:first-child{
    gap: 3.75rem;
}
footer nav ul:last-child{
    gap: 2.5rem;
}
footer nav a{
    color: var(--nutral-100);
    font-family: var(--font-family-medium);
}
footer hr{
    border-color: var(--nutral-20);
}

.footer-bottom{margin-top: 2.5rem;}
.privacy-wrapper{gap: 1.5rem;}
.privacy-wrapper a, .footer-bottom p{
    color: var(--nutral-60);
    font-family: var(--font-family-medium);
}

 .footer-bottom p{margin-bottom: 0;}


@media (max-width: 1399px){
    footer nav ul:first-child{
    gap: 2.5rem;
    }
    footer nav ul:last-child{
        gap: 2rem;
    }
}
@media (max-width: 1199.98px){
    footer nav ul:first-child{
        gap: 2rem;
    }
    footer nav ul:last-child{
        gap: 1.5rem;
    }
}
@media (max-width: 991.98px){
    .newsletter{
        flex-direction: column;
    }
    footer .newsletter .text-content, footer .newsletter form{width: 100%;}
}
@media (max-width: 767.98px){
    .footer-bottom{flex-direction: column; gap: 1.5rem;}
    .footer-bottom p, .footer-bottom .privacy-wrapper{order: 1;}
    .newsletter form{
        flex-direction: column;
    }
}