*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $fontFamily;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding-left: 0;
    li{
        margin-bottom: 1rem; 
        &:last-child{
            margin-bottom: 0;
        }
    }
}

p:not(:last-child), h5, h6{
    margin-bottom: .75rem;
}